<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Todo List</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/home-page.css'>
    <link rel="stylesheet" href="css/styles.css">
    <script src="lib/react.production.min.js"></script>
    <script src="lib/react-dom.production.min.js"></script>
    <!-- Nhung babel core de viet html in react duoc de dang, thay cho React.createElement và nho cần sử dụng type="text/babel" trong script -->
    <script src="lib/browser.min.js"></script>
    <!-- Ajax in react js -->
    <script src="lib/jquery.min.js"></script>
    <!-- Source development react js -->
    <script src="js/home-page.js" type="text/babel"></script>
</head>
<body>
    <div id="root"></div>
</body>
</html>